<style>
  .navbar{
    margin: 0;
  }
  .navbar-nav{
    font-size: 35px;
    margin: auto;
    width: 500px;
  }
  a{
    text-decoration: none;
    color: black;
  }
</style>


<nav class="navbar">
  <img src="" alt="" />
  <div class="navbar-nav">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/category/60d1f65772557f312c1156ef/news">Politic</a>
    <a class="nav-link" href="/category/60d1f7ff32ad402a0ce81ac3/news">Sport</a>
    <a class="nav-link" href="/category/60d1f67d72557f312c1156f1/news">Animal</a>
    <a class="nav-link" href="/category/60d1f68572557f312c1156f3/news">Science</a>
  </div>
</nav>